<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CapTech Assigment 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CapTech Assigment 1UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C56FAC61EFC5EB300EE0FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C56FADA1EFC5EB300EE0FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C8BDE491F042FB8004EE2DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
